* {
    margin: 0;
    box-sizing: border-box;
}

/*************** MAIN BLOCKS ************/
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
/* body:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(/images/bg.png) 0 0 repeat;
    transform: rotate(-30deg);
  } */


.container {
    max-width: 550px;
    height: 100%;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0px 0px 20px 10px #b8b8b8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    height: 7%;
    max-height: 80px;
    min-height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 18px;
}

main {
    flex-grow: 1;
    padding: 0 8px;
    width: 100%;
    display: flex;
}

.action-buttons {
    height: 120px;
    max-height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dog-container {
    flex-grow: 1;
    border-radius: 15px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 12px;
}

/*************** HEADER ************/
.profile-icon,
.app-icon,
.chat-icon {
    display: block;
}

.app-icon {
    height: 38px;
    width: 76px;
}

.profile-icon,
.chat-icon {
    width: 30px;
    height: 30px;
}

.message {
    text-align: center;
    font-size: 24px;
    position: relative;
    top: 20%;
}

/*************** PHOTO AREA ************/
.badge {
    display: block;
    width: 230px;
    transform-origin: 200px;
    transform: rotate(-30deg);
}


/*************** ACTION BUTTONS ************/
.dislike-btn,
.like-btn {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: none;
    background-color: #FFF;
    box-shadow: 0px 10px 20px #E9E9EA;
    background-repeat: no-repeat;
    background-position: center;
    margin: 4% 24px 0 24px;
    transition: 0.3s;
}

.like-btn {
    background-image: url(/images/icon-heart.png);
    background-size: auto;
}
.dislike-btn {
    background-image: url(/images/icon-cross.png);
}

.like-btn:enabled:hover,
.like-btn:enabled:focus {
    background-color: #DBFFF4;
    box-shadow: 0px 10px 20px #CCF1E6;
}

.dislike-btn:enabled:hover,
.dislike-btn:enabled:focus {
    background-color: #FFE7EF;
    box-shadow: 0px 10px 20px #EDD9DF;
}

.like-btn:enabled:active,
.dislike-btn:enabled:active {
    position: relative;
    top: 2px;
}

.like-btn:disabled,
.dislike-btn:disabled {
    filter: grayscale(100%);
}

/*************** FONTS ************/
h2 {
    font-weight: 600;
    font-size: 32px;
    color: #F8F8F8;
    margin-bottom: 8px;
}

h3 {
    font-weight: 400;
    font-size: 24px;
    color: #B7B7B7;
}

@media screen and (orientation: landscape) {
    html {
      /* Rotate the content container */
      transform: rotate(-90deg);
      transform-origin: left top;
      /* Set content width to viewport height */
      width: 100vh;
      /* Set content height to viewport width */
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }


/*************** MEDIA ************/
@media (min-width: 500px) {
    header {
        height: 10%;
    }
    .profile-icon,
    .chat-icon {
    width: 34px;
    height: 34px;
    }
    header {
        height: 10%;
        max-height: 80px;
        padding: 0 18px;
    }
    .app-icon {
        height: 42px;
        width: 84px;
    }
    .dislike-btn,
    .like-btn {
        max-width: 92px;
        max-height: 92px;
        width: 24%;
        height: 90%;
        border-radius: 50%;
        border: none;
        background-color: #FFF;
        box-shadow: 0px 10px 20px #E9E9EA;
        background-repeat: no-repeat;
        background-position: center;
        margin: 4% 24px 0 24px;
        transition: 0.3s;
    }
}